{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="{% static 'lang-logo.png'%}">
    </a>
    <h1>Turning Point Prediction</h1>
    <p> This is a Django application for inputing user behavior and predicting which videos are most likely to change his behavior to a "turning point" in which he will lose interest on the application.</p>
    <!-- Upload form. Note enctype attribute! -->

  {% if dictReturn %}
    <div class="panel panel-default">
      <div class="panel-body">
        <p style="color:black;">The clustering for the turning point is:  {{dictReturn.cluster}}</p>
        <p style="color:black;">The videos for this cluster that you should avoid are:  </p>
        <ul class="list-group">
        {% for video in dictReturn.videos %}

          <div class="col-xs-3 col-md-1 alert alert-danger" role="alert">
            <a href="#" class="alert-link"> {{ video }} </a>
          </div>
        {% endfor %}
        </ul>
      </div>
    </div>

    {% endif %}
      <form action="{% url 'index' %}" id="fileForm" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <p align="left">{{ form.non_field_errors }}</p>
          <p align="left">{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>
          {% if form.errors %}
          <div class="alert alert-danger">
            The following errors were found:
            {{ form.errors }}
          </div>
          {% endif %}
          {% if form.docfile.errors %}
          <div class="alert alert-danger">
            The following errors were found in docfile:
            {{ form.docfile.errors }}
          </div>
          {% endif %}
            {{ form.docfile }}
          <p><input class="btn btn-lg btn-default" type="submit" id="formSubmitButton" value="Upload user behavior" /></p>
      </form>
  </div>
</div>
<div class="container">
  <div class="alert alert-info text-center" role="alert">
    Example of usage and useful information
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> Input a JSON for one user behavior</h3>
      <ul>
        <li>The important fields to analyze are "chosenVideo" and  "listenScore", but using a format like the one provided in the studentBehavior.json will work</li>
      </ul>
      <pre class="prettyprint lang-js">
        {
          "chosenVideo": [
            3913,
            5186,
            4165,
            4802,
            5433,
            5793
          ],
          "vocabularyList": [],
          "memberId": "50644",
          "listenScore": [
            {
              "postId": 3913,
              "score": 96
            },
            {
              "postId": 3913,
              "score": 94
            },
            {
              "postId": 3913,
              "score": 96
            },
            {
              "postId": 3913,
              "score": 98
            },
            {
              "postId": 3913,
              "score": 93
            },
            {
              "postId": 5186,
              "score": 94
            },
            {
              "postId": 5186,
              "score": 98
            },
            {
              "postId": 5186,
              "score": 100
            },
            {
              "postId": 4165,
              "score": 91
            },
            {
              "postId": 4802,
              "score": 99
            },
            {
              "postId": 4802,
              "score": 92
            },
            {
              "postId": 4802,
              "score": 95
            },
            {
              "postId": 4802,
              "score": 99
            },
            {
              "postId": 4802,
              "score": 99
            },
            {
              "postId": 4802,
              "score": 83
            },
            {
              "postId": 5433,
              "score": -1
            },
            {
              "postId": 5433,
              "score": -1
            },
            {
              "postId": 5433,
              "score": -1
            },
            {
              "postId": 5793,
              "score": -1
            },
            {
              "postId": 5793,
              "score": -1
            },
            {
              "postId": 5793,
              "score": -1
            }
          ]
        }
      </pre>
    </div>
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-link"></span> Helpful Links</h3>
      <ul>
        <li><a href="https://www.hopenglish.com">HopEnglish</a></li>
        <li><a href="https://www.heroku.com/home">Heroku</a></li>
        <li><a href="http://json.org">JSON.org</a></li>

      </ul>
      <h3><span class="glyphicon glyphicon-info-sign"></span> About us</h3>
      <ul>
        <li>Members:</li>
        <ul>
          <li>陸辰偉</li>
          <li>杜佳霖</li>
          <li>楊承翰</li>
          <li>王本立</li>
          <li>Eduardo Salazar</li>
          <li>Nicole Weatherburne</li>
          <li>Ismael Noble</li>
          <li>Victor Sanchez</li>
        </ul>
      </ul>
    </div>
  </div> <!-- row -->
</div>
<script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
{% endblock %}
